/* 1 - ContactForm - START */
/* 1 - ContactForm - START */
/* 1 - ContactForm - START */
/* 1 - ContactForm - START */
/* 1 - ContactForm - START */

#contact-page .container-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

/* TITLE */
#contact-page .container-form .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem;
}

#contact-page .container-form .title h1 {
  font-size: 3rem;
}

/* CONTACT FORM - LEFT SECTION */
#contact-page .container-form .left-content {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 5%; 
  box-sizing: border-box;
}

#contact-page .container-form .left-content p {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 2;
}

/* CONTACT FORM - MIDDLE SECTION  */
#contact-page .container-form .middle-content {
  display: flex;
  width: 50%;
  justify-content: center;
}

#contact-page .container-form .middle-content .screen {
  width: 100%;
  position: relative;
  background: var(--pizza-green);
  border-radius: 15px;
}

#contact-page .container-form .middle-content .screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

#contact-page .container-form .middle-content .screen .screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--pizza-dark);;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left {
  margin-right: auto;
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left .screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left .screen-header-button.close {
  background: var(--pizza-yellow);
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left .screen-header-button.maximize {
  background: var(--pizza-red);
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left .screen-header-button.minimize {
  background: var(--pizza-green);
}

#contact-page .container-form .middle-content .screen .screen-body {
  display: flex;
  flex-direction: column;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item {
  width: 100%;
}

/* #contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form {
  width: 100%;
} */

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item.left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item.left .app-title {
  width: 90%;
  margin: 2rem auto 2rem auto; /* Centers the input within the form group */
  display: block;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--pizza-yellow);
  font-size: 26px;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item.left .app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background: var(--pizza-red);
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-group {
  margin-bottom: 15px;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-group.message {
  margin-top: 40px;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-control {
  width: 90%;
  margin: 0 auto; /* Centers the input within the form group */
  display: block;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-control::placeholder {
  color: var(--pizza-yellow);
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-control:focus {
  border-bottom-color: var(--pizza-beige);
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-button {
  padding: 1em 1.5em 1em 1.5em;
  background-color: var(--pizza-yellow);
  border: none;
  color: var(--pizza-red);
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border-radius: 1em;
  transition: 0.5s;
  font-weight: bold;
  margin: 2rem 2rem 2rem 0rem;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-button:hover {
  color: var(--pizza-beige);
  background-color: var(--pizza-red);
}

/* CONTACT FORM - RIGHT SECTION */
#contact-page .container-form .right-content {
  width: 25%;
  display: flex;
  justify-content: flex-end; /* Pushes content to the far right */
  padding-left: 5%; /* Safety gap between form and text */
  box-sizing: border-box;
}

#contact-page .container-form .right-content p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Ensures text stays right-aligned */
  line-height: 2;
  text-align: right;
}

/* 1 - ContactForm - END */
/* 1 - ContactForm - END */
/* 1 - ContactForm - END */
/* 1 - ContactForm - END */
/* 1 - ContactForm - END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* 2 - CONTACTS-> MAP - START */
/* 2 - CONTACTS-> MAP - START */
/* 2 - CONTACTS-> MAP - START */
/* 2 - CONTACTS-> MAP - START */
/* 2 - CONTACTS-> MAP - START */

#contact-page .contact-map {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

/* 2 - CONTACTS-> MAP - END */
/* 2 - CONTACTS-> MAP - END */
/* 2 - CONTACTS-> MAP - END */
/* 2 - CONTACTS-> MAP - END */
/* 2 - CONTACTS-> MAP - END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* BANNER IN CONTACT PAGE - START */
/* BANNER IN CONTACT PAGE - START */
/* BANNER IN CONTACT PAGE - START */
/* BANNER IN CONTACT PAGE - START */
/* BANNER IN CONTACT PAGE - START */

#contact-page .banner.one {
  margin-bottom: 5rem;
}

/* BANNER IN CONTACT PAGE - END */
/* BANNER IN CONTACT PAGE - END */
/* BANNER IN CONTACT PAGE - END */
/* BANNER IN CONTACT PAGE - END */
/* BANNER IN CONTACT PAGE - END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */

@media screen and (max-width: 1616px) {
  
}

/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */

@media screen and (max-width: 1316px) and (max-width: 1023px) {
  
}

/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */

@media screen and (max-width: 1024px) and (orientation: portrait) {
  
}

/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */