:root {
  --normal-black: #000;
  --normal-white: #FFF;
  --roman-red: #CD0000;
  --scottish-blue: #0065bd;
  --eleganBlue: #427ed1;
  --lighter-blue: #4c8be0;
  --darker-yellow: #ffaf00;
  --coral-red: #FF7F50;
  --emerald-green: #00C957;
  --slate-blue: #7171C6;
  --medium-purple: #8968CD;
  --midnight-blue: #191970;
  --aqua: #00FFFF;
  --ruby-red: #e0115f;
  --scarlet-red: #ff2400;
  --JavaScript-yellow: #F5D733;
  --elegantGrey: #3e3e3e;
  --lightGrey: #4d4d4f;
  --navy-blue: rgb(0, 22, 51);
  --lime-green: rgb(166, 207, 66);
  --midnight-blue: #191970;
  --forest-green: #228B22;
  --whole-foods-green: #00674b;
  --recycling-green: #009900;
  --pine-green: #01796F;
  --cognac-brown: #834333;
  --pine-gold: #dab970;
  --linen-white: #E9DCC9;
  --olive-green: #808000;
  --dark-green: #006400;
  --pizza-red: #D62828;      /* Tomato sauce */
  --pizza-yellow: #F7C531;   /* Cheese */
  --pizza-green: #3A5A40;    /* Olives / herbs */
  --pizza-beige: #F4E1C1;    /* Crust */
  --pizza-dark: #2E2E2E;     /* Text / contrast */
  --color-jumbotron-overlay: rgba(0, 0, 0, 0.6);
}

/* DEFAULT CLASSES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: "Oregano", cursive;
  font-style: normal;
  background-color: var(--pizza-beige);
  color: var(--pizza-dark);
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--pizza-yellow);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--pizza-dark);
  border-radius: 2px;
  border: 2px solid var(--pizza-green);
  transition:0.5s;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--pizza-dark);
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

#about-us-page .about-us-container {
  width: 100%;
  /* background: radial-gradient(#333, #000); */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
}

#about-us-page .about-us-container .central-container {
  height: calc(70vh - 100px);
  margin-top: 100px;
  width: 90%;
  border-radius: 10%;
}

#about-us-page .about-us-container .central-container div.top {
  width: 100%;
  height: 20%;
  /* debug */
  background-color: var(--pizza-green);
}

#about-us-page .about-us-container .central-container div.center {
  width: 100%;
  height: 60%;
  /* debug */
  background-color: var(--pizza-green);
}

#about-us-page .about-us-container .central-container div.bottom {
  width: 100%;
  height: 20%;
  /* debug */
  background-color: var(--pizza-green);
}

/* ANIMATION IN THE BACKGROUND */
#about-us-page .about-us-container .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* ALL DIVS TOGETHER */
#about-us-page .about-us-container .set div {
  position: absolute;
  display: block;
}

#about-us-page .about-us-container .set div img {
  width: 150px;
  height: 150px;
}

/* (1) */
#about-us-page .about-us-container .set div:nth-child(1) {
  left: 20%;
  animation: falling 15s linear infinite;
  animation-delay: -7s;
}

/* (2) */
#about-us-page .about-us-container .set div:nth-child(2) {
  left: 50%;
  animation: falling 20s linear infinite;
  animation-delay: -5s;
}

/* (3) */
#about-us-page .about-us-container .set div:nth-child(3) {
  left: 70%;
  animation: falling 20s linear infinite;
  animation-delay: 0s;
}

/* (4) */
#about-us-page .about-us-container .set div:nth-child(4) {
  left: 0%;
  animation: falling 15s linear infinite;
  animation-delay: -5s;
}

/* (5) */
#about-us-page .about-us-container .set div:nth-child(5) {
  left: 85%;
  animation: falling 18s linear infinite;
  animation-delay: -10s;
}

/* (6) */
#about-us-page .about-us-container .set div:nth-child(6) {
  left: 0%;
  animation: falling 12s linear infinite;
}

/* (7) */
#about-us-page .about-us-container .set div:nth-child(7) {
  left: 15%;
  animation: falling 14s linear infinite;
}

/* (8) */
#about-us-page .about-us-container .set div:nth-child(8) {
  left: 60%;
  animation: falling 15s linear infinite;
}

@keyframes falling {
  0%{
    top:-10%;
    transform:translateX(20px)rotate(0deg);
  }
  10%{
    transform:translateX(20px)rotate(45deg);
  }
  20%{
    transform:translateX(-20px)rotate(90deg);
  }
  40%{
    transform:translateX(-20px)rotate(45deg);
  }
  60%{
    transform:translateX(20px)rotate(180deg);
  }
  80%{
    transform:translateX(-20px)rotate(180deg);
  }
  100%{
    top:110%;
    transform:translateX(20px)rotate(225deg);
  }
}

#about-us-page .set2 {
  transform:scale(2) rotateY(180deg);
}

#about-us-page .set3 {
  transform:scale(0.8) rotateY(180deg);
}

/* UNDER GRID SECTION START */
/* UNDER GRID SECTION START */
/* UNDER GRID SECTION START */

/* INSIDE HERE THERE ARE 2 DIVS: TOP AND BOTTOM */
#about-us-page .about-us-container .under-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 8em 0em;
}

/* TOP */
#about-us-page .about-us-container .under-grid .top {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

#about-us-page .about-us-container .under-grid .top div {
  background-color: var(--pizza-green);
  color: var(--pizza-yellow);
  flex: 1 1 300px; 
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 
    0 -4px 6px -1px rgba(9, 23, 54, 0.15), 
    0 4px 6px -1px rgba(9, 23, 54, 0.15), 
    -4px 0 6px -1px rgba(9, 23, 54, 0.15), 
    4px 0 6px -1px rgba(9, 23, 54, 0.15);
}

#about-us-page .about-us-container .under-grid .top div i {
  display: flex;
  justify-content: center;
  background-color: var(--color-sidebar-top-box);
  color: var(--normal-white);
  font-size: 2.5em;
  border-radius: 50%;
  padding: 1em;
  margin-top: 1em;
}

#about-us-page .about-us-container .under-grid .top div h3 {
  margin: 2em 0em;
  font-size: 1.5em;
}

#about-us-page .about-us-container .under-grid .top div p {
  width: 90%;
  margin:0 auto 1em auto;
  font-size: 1.2em;
  line-height: 40px;
}

/* BOTTOM */
#about-us-page .about-us-container .under-grid .bottom {
  margin: 5em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-us-page .about-us-container .under-grid .bottom h2 {
  font-size: 2em;
}

#about-us-page .about-us-container .under-grid .bottom p {
  width:80%;
  margin: 2em auto 0em auto;
  font-size: 1.5em;
}

/* UNDER GRID SECTION END */
/* UNDER GRID SECTION END */
/* UNDER GRID SECTION END */

/* JUMBOTRON-CONTAINER START*/
/* JUMBOTRON-CONTAINER START*/
/* JUMBOTRON-CONTAINER START*/
/* JUMBOTRON-CONTAINER START*/
/* JUMBOTRON-CONTAINER START*/

#about-us-page .jumbotron-container-aboutUs {
  width: 100%;
  height: 600px;
  min-height: 600px;
  margin-top: 101px;
}

#about-us-page .jumbotron-container-aboutUs section {
  width:90%;
  height:100%;
  margin:0 auto;
  display: flex;
}

#about-us-page .jumbotron-container-aboutUs section .container-left {
  width:50%;
  height: 100%;
}

/* just in one section */
#about-us-page .jumbotron-container-aboutUs section .container-left img {
  height:100%;
  width: 100%;
  border-radius: 10px;
}

#about-us-page .jumbotron-container-aboutUs section .container-left #slider {
  width:100%;
  height:100%;
  padding:5px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  position:relative;
 }
 
#about-us-page .jumbotron-container-aboutUs section .container-left #slider .slide {
  list-style:none;
}

#about-us-page .jumbotron-container-aboutUs section .container-left #slider > li {
  position:absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
}

#about-us-page .jumbotron-container-aboutUs section .container-left #slider .slide img {
  height: 100%;
  width:100%;
  border-radius: 10px;
}

#about-us-page .jumbotron-container-aboutUs section .container-right {
  width:50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#about-us-page .jumbotron-container-aboutUs section .container-right .text {
  width: 90%;
  height: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-us-page .jumbotron-container-aboutUs section .container-right .text h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#about-us-page .jumbotron-container-aboutUs section .container-right .text h3 {
  font-size: 1.8em;
}

#about-us-page .jumbotron-container-aboutUs section .container-right p {
  width:90%;
  height:80%;
  margin:0 auto;
  display: flex;
  align-items: center;
  line-height: 45px;
  font-size: 1.2em;
}

#about-us-page .jumbotron-container-aboutUs section .container-right .btn-container {
  width:90%;
  height:10%;
  display: flex;
  align-items: flex-end;
  margin:0 auto;
}


#about-us-page .jumbotron-container-aboutUs section .container-right .btn-container a {
  padding:1em 6em;
  background-color: var(--pizza-yellow);
  border-radius: 10px;
  transition:0.5s;
}

#about-us-page .jumbotron-container-aboutUs section .container-right .btn-container a:hover {
  background-color: var(--pizza-green);
  color: var(--pizza-yellow);
}

/* JUMBOTRON-CONTAINER END*/
/* JUMBOTRON-CONTAINER END*/
/* JUMBOTRON-CONTAINER END*/
/* JUMBOTRON-CONTAINER END*/
/* JUMBOTRON-CONTAINER END*/

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */

@media screen and (max-width: 1616px) {
  
}

/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */

@media screen and (max-width: 1316px) and (max-width: 1023px) {
  
}

/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */

@media screen and (max-width: 1024px) and (orientation: portrait) {

}

/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */