#cart-page {
  
}

#cart-page .cart-populated {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

#cart-page .cart-populated .sub-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#cart-page .cart-populated h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 5rem 0rem;
}

#cart-page .cart-populated .cart-item-card {
  margin-bottom: 1rem;
}

#cart-page .cart-populated .cart-item-card .element-ordered {
  display: flex;
  justify-content: space-between;
  width:100%;
}

#cart-page .cart-populated .cart-item-card .element-ordered div.image-container,
#cart-page .cart-populated .cart-item-card .element-ordered div.quantity-container,
#cart-page .cart-populated .cart-item-card .element-ordered div.name-and-price,
#cart-page .cart-populated .cart-item-card .element-ordered div.button-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* THIS IS DIFFERENT TO OTHER CAUSE I WANT IT ALIGNED AT THE BEGINNING */
#cart-page .cart-populated .cart-item-card .element-ordered div.image-container {
  justify-content: flex-start;
}

#cart-page .cart-populated .cart-item-card .element-ordered div.image-container img {
  height: 120px;
  object-fit:cover;
  border-radius: 10px;
}

/* THIS IS DIFFERENT TO OTHER CONTAINERS INSIDE .element-ordered cause it's in column*/
#cart-page .cart-populated .cart-item-card .element-ordered .name-and-price {
  flex-direction: column;
}

#cart-page .cart-populated .cart-item-card .element-ordered .name-and-price h4 {
  font-size: 1.5rem;
}

#cart-page .cart-populated .cart-item-card .element-ordered .name-and-price p {
  font-size: 1.4rem;
}


#cart-page .cart-populated .cart-item-card .element-ordered .quantity-container span {
  font-size: 1.5rem;
}

#cart-page .cart-populated .cart-item-card .element-ordered div.quantity-container {
  margin-top: 1rem;
}

/* #cart-page .cart-populated .cart-item-card .element-ordered .name-and-price,
#cart-page .cart-populated .cart-item-card .element-ordered .quantity-container,
#cart-page .cart-populated .cart-item-card .element-ordered .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */


#cart-page .cart-populated .cart-item-card .element-ordered .button-container .my-button-cart {
  border: none;
  padding: 0.5rem 0.8rem;
  background-color: var(--pizza-yellow);
  color: var(--pizza-green);
  transition: 0.4s;
  border-radius: 10px;
  margin: 1rem 0em 0.5rem 0em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
}

#cart-page .cart-populated .cart-item-card .element-ordered .button-container .my-button-cart:hover {
  background-color: var(--pizza-red) !important;
  color: var(--pizza-yellow) !important;
}



/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* MEDIA QUERIES */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */

@media screen and (max-width: 1616px) {
  
}

/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */

@media screen and (max-width: 1023px) {
  
}

/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */

@media screen and (max-width: 767px) {
  
}

/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */