/* 1 - ContactForm - START */
/* 1 - ContactForm - START */
/* 1 - ContactForm - START */
/* 1 - ContactForm - START */


#contact-page .container-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0rem auto 5rem auto;
}

/* TITLE */
#contact-page .container-form .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem;
}

#contact-page .container-form .title h1 {
  font-size: 3rem;
}

/* CONTACT FORM - LEFT SECTION */
#contact-page .container-form .left-content {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 1%; 
  box-sizing: border-box;
}

#contact-page .container-form .left-content div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#contact-page .container-form .left-content div p {
  font-size: 1.6rem;
}

#contact-page .container-form .left-content div p:first-of-type {
  font-weight: bold;
}

#contact-page .container-form .left-content div p:last-of-type {
  font-size: 2rem;
}


/* CONTACT FORM - MIDDLE SECTION  */
#contact-page .container-form .middle-content {
  display: flex;
  width: 50%;
  justify-content: center;
}

#contact-page .container-form .middle-content .screen {
  width: 100%;
  position: relative;
  background: var(--pizza-green);
  border-radius: 15px;
}

#contact-page .container-form .middle-content .screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

#contact-page .container-form .middle-content .screen .screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--pizza-dark);;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left {
  margin-right: auto;
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left .screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left .screen-header-button.close {
  background: var(--pizza-yellow);
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left .screen-header-button.maximize {
  background: var(--pizza-red);
}

#contact-page .container-form .middle-content .screen .screen-header .screen-header-left .screen-header-button.minimize {
  background: var(--pizza-green);
}

#contact-page .container-form .middle-content .screen .screen-body {
  display: flex;
  flex-direction: column;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item {
  width: 100%;
}

/* #contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form {
  width: 100%;
} */

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item.left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item.left .app-title {
  width: 90%;
  margin: 2rem auto 2rem auto; /* Centers the input within the form group */
  display: block;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--pizza-yellow);
  font-size: 26px;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item.left .app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background: var(--pizza-red);
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-group {
  margin-bottom: 15px;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-group.message {
  margin-top: 40px;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-control {
  width: 90%;
  margin: 0 auto; /* Centers the input within the form group */
  display: block;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-control::placeholder {
  color: var(--pizza-yellow);
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-control:focus {
  border-bottom-color: var(--pizza-beige);
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-button {
  padding: 1em 1.5em 1em 1.5em;
  background-color: var(--pizza-yellow);
  border: none;
  color: var(--pizza-red);
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border-radius: 1em;
  transition: 0.5s;
  font-weight: bold;
  margin: 2rem 2rem 2rem 0rem;
}

#contact-page .container-form .middle-content .screen .screen-body .screen-body-item .app-form-button:hover {
  color: var(--pizza-beige);
  background-color: var(--pizza-red);
}

/* CONTACT FORM - RIGHT SECTION */
#contact-page .container-form .right-content {
  width: 25%;
  display: flex;
  justify-content: flex-end; /* Pushes content to the far right */
  padding-left: 1%; /* Safety gap between form and text */
  box-sizing: border-box;
}

#contact-page .container-form .right-content div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contact-page .container-form .right-content div p {
  height: 15%;
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
}

#contact-page .container-form .right-content div ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 85%;
}

/* 1 - ContactForm - END */
/* 1 - ContactForm - END */
/* 1 - ContactForm - END */
/* 1 - ContactForm - END */
/* 1 - ContactForm - END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* 2 - CONTACT PAGE -> MAP - START */
/* 2 - CONTACT PAGE -> MAP - START */
/* 2 - CONTACT PAGE -> MAP - START */
/* 2 - CONTACT PAGE -> MAP - START */
/* 2 - CONTACT PAGE -> MAP - START */

#contact-page .contact-map {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#contact-page .contact-map div.contacts-sub-container {
  width: 90%;
  margin: 10rem auto 10rem auto;
  display: flex;
}

#contact-page .contact-map div.contacts-sub-container .directions {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#contact-page .contact-map div.contacts-sub-container .directions {
  padding-right: 1%;
}

#contact-page .contact-map div.contacts-sub-container .directions ul {
  height: 50%;
  display: flex;
  flex-direction: column;
}

#contact-page .contact-map div.contacts-sub-container .directions ul:first-of-type li {
  padding-bottom: 1rem;
  font-size: 2rem;
}

#contact-page .contact-map div.contacts-sub-container .directions ul:last-of-type {
  justify-content: space-between;
}

#contact-page .contact-map div.contacts-sub-container .directions ul:last-of-type li {
  line-height: 2rem;
  font-size: 1.3rem;
}

/* RIGHT - IMAGE */
#contact-page .contact-map div.contacts-sub-container .contact-map-image-container  {
  width: 50%;
  height: 100%;
}

#contact-page .contact-map div.contacts-sub-container .contact-map-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#contact-page .contact-map-image-container .dark {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
  border-radius: 15px;
  cursor: pointer;
}

/* Make the DARK reappear on hover alongside the h3 */
#contact-page .contact-map-image-container:hover .dark {
  display: block;
}

#contact-page .contact-map-image-container h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  white-space: nowrap;
  color: white;
  z-index: 3;
  display: none;
}

/* Make the h3 reappear on hover alongside the dark layer */
#contact-page .contact-map-image-container:hover h3 {
  display: block;
}

/* 2 - CONTACT PAGE -> MAP - END */
/* 2 - CONTACT PAGE -> MAP - END */
/* 2 - CONTACT PAGE -> MAP - END */
/* 2 - CONTACT PAGE -> MAP - END */
/* 2 - CONTACT PAGE -> MAP - END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* BANNER IN CONTACT PAGE - START */
/* BANNER IN CONTACT PAGE - START */
/* BANNER IN CONTACT PAGE - START */
/* BANNER IN CONTACT PAGE - START */
/* BANNER IN CONTACT PAGE - START */

#contact-page .banner.one {
  margin-bottom: 5rem;
}

/* BANNER IN CONTACT PAGE - END */
/* BANNER IN CONTACT PAGE - END */
/* BANNER IN CONTACT PAGE - END */
/* BANNER IN CONTACT PAGE - END */
/* BANNER IN CONTACT PAGE - END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */

@media screen and (max-width: 1616px) {
  
}

/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */

@media screen and (max-width: 1316px) and (max-width: 1023px) {
  
}

/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */

@media screen and (max-width: 1024px) and (orientation: portrait) {
  
}

/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */