/* UNDER HEADER START */
/* UNDER HEADER START */
/* UNDER HEADER START */
/* UNDER HEADER START */
/* UNDER HEADER START */

#homepage .under-header {
  height: 100vh;
  background-image: url('./img/super-mario.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end; 
}

#homepage .under-header .under-header-overlay {
  background-color: var(--color-jumbotron-overlay);
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--pizza-beige);
}

#homepage .under-header .under-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#homepage .under-header .under-header-content #pizza-logo {
  height: 200px;
  width: 200px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}

#homepage .under-header .under-header-content h2 {
  color: var(--pizza-yellow);
  font-size: 5rem;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#homepage .under-header .under-header-content .title-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage .under-header .under-header-content p.under-header-text {
  font-size: 2.2em;
  line-height: 1.4;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#homepage .under-header .under-header-content p.under-header-text .char {
  visibility: hidden;
  animation: animate 0s steps(2) forwards;
  animation-delay: calc(0.05s * var(--char-index));
}

@keyframes animate {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}


/* UNDER HEADER END */
/* UNDER HEADER END */
/* UNDER HEADER END */
/* UNDER HEADER END */
/* UNDER HEADER END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* JUMBOTRON START*/
/* JUMBOTRON START*/
/* JUMBOTRON START*/
/* JUMBOTRON START*/
/* JUMBOTRON START*/

#homepage .jumbotron section.main-container {
  width: 100%;
  height: 100%;
  margin: 5em auto 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homepage .jumbotron section.main-container h1 {
  font-size: 3rem;
  margin-bottom: 50px;
}

/* BOX */
#homepage .jumbotron section.main-container .container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  min-height: 800px;
}

#homepage .jumbotron section.main-container .container .firstLine,
#homepage .jumbotron section.main-container .container .secondLine,
#homepage .jumbotron section.main-container .container .thirdLine,
#homepage .jumbotron section.main-container .container .fourthLine {
  width: 100%;
  height: 50%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#homepage .jumbotron section.main-container .container .box {
  width: calc(100% / 3);
  height: 100%;
  border: 2px solid var(--pizza-beige);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor:pointer;
  position: relative;
  transition: 1s ease;
  border-radius: 8px;
}

#homepage .jumbotron section.main-container .container .box img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#homepage .jumbotron section.main-container .container .dark {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#homepage .jumbotron section.main-container .container .box:hover .dark {
  display: block;
}

#homepage .jumbotron section.main-container .container .box h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  white-space: nowrap;
  color: white;
  z-index: 3;
}

#homepage .jumbotron section.main-container .container .jumbotron-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* JUMBOTRON END*/
/* JUMBOTRON END*/
/* JUMBOTRON END*/
/* JUMBOTRON END*/
/* JUMBOTRON END*/

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* JUMBOTRON-SCOLLING-CAROUSEL - START*/
/* JUMBOTRON-SCOLLING-CAROUSEL - START*/
/* JUMBOTRON-SCOLLING-CAROUSEL - START*/
/* JUMBOTRON-SCOLLING-CAROUSEL - START*/
/* JUMBOTRON-SCOLLING-CAROUSEL - START*/

#homepage .jumbotron-scrolling-carousel {
  width: 100%;
  margin: 5em 0em
}

#homepage .jumbotron-scrolling-carousel section {
  width:90%;
  margin:0 auto;
  display: flex;
}

/* CONTAINER LEFT */
#homepage .jumbotron-scrolling-carousel section .container-left {
  width: 50%;
  min-height: 25rem;
}

/* just in one section */
#homepage .jumbotron-scrolling-carousel section .container-left img {
  height:100%;
  width: 100%;
  border-radius: 10px;
}

#homepage .jumbotron-scrolling-carousel section .container-left ul#slider {
  width: 100%;
  height:100%;
  padding: 5px;
  position:relative;
 }
 
#homepage .jumbotron-scrolling-carousel section .container-left #slider .slide {
  list-style: none;
}

#homepage .jumbotron-scrolling-carousel section .container-left #slider > li {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

#homepage .jumbotron-scrolling-carousel section .container-left #slider > li {
  height: 100%;
}

#homepage .jumbotron-scrolling-carousel section .container-left #slider .slide img {
  height: 100%;
  width:100%;
  border-radius: 10px;
}

/* CONTAINER RIGHT */
#homepage .jumbotron-scrolling-carousel section .container-right {
  width: 50%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#homepage .jumbotron-scrolling-carousel section .container-right .text {
  width: 90%;
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0em auto 0em auto;
}

#homepage .jumbotron-scrolling-carousel section .container-right .text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#homepage .jumbotron-scrolling-carousel section .container-right .text h3 {
  font-size: 1.5rem;
}

#homepage .jumbotron-scrolling-carousel section .container-right p {
  width: 90%;
  height: initial;
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
  line-height: 1.4;
  font-size: 1.35rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important; /* For Chrome/Safari */
  -moz-osx-font-smoothing: grayscale !important; /* For Firefox */
}

#homepage .jumbotron-scrolling-carousel section .container-right .btn-container {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: flex-end;
  margin: 0em auto 0em auto;
}

#homepage .jumbotron-scrolling-carousel section .container-right .btn-container button {
  padding: 1em 6em;
  background-color: var(--pizza-yellow);
  border-radius: 10px;
  transition:0.5s;
  text-align: center;
  border: none;
}

#homepage .jumbotron-scrolling-carousel section .container-right .btn-container button:hover {
  background-color: var(--pizza-green);
  color: var(--pizza-yellow);
}

/* JUMBOTRON-SCOLLING-CAROUSEL - START*/
/* JUMBOTRON-SCOLLING-CAROUSEL - START*/
/* JUMBOTRON-SCOLLING-CAROUSEL - START*/
/* JUMBOTRON-SCOLLING-CAROUSEL - START*/
/* JUMBOTRON-SCOLLING-CAROUSEL - START*/

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* THREE BOX CONTAINER - START */
/* THREE BOX CONTAINER - START */
/* THREE BOX CONTAINER - START */

/* INSIDE HERE THERE ARE 2 DIVS: TOP AND BOTTOM */
#homepage .three-box-container-homepage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5em 0em;
}

#homepage .three-box-container-homepage h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 1em;
}

/* TOP */
#homepage .three-box-container-homepage .top {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

#homepage .three-box-container-homepage .top div {
  background-color: var(--pizza-green);
  color: var(--pizza-yellow);
  flex: 1 1 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 
    0 -4px 6px -1px rgba(9, 23, 54, 0.15), 
    0 4px 6px -1px rgba(9, 23, 54, 0.15), 
    -4px 0 6px -1px rgba(9, 23, 54, 0.15), 
    4px 0 6px -1px rgba(9, 23, 54, 0.15);
}

#homepage .three-box-container-homepage .top div img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  animation: spinning 20s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}

#homepage .three-box-container-homepage .top div h3 {
  margin: 1em auto;
  font-size: 2rem;
}

#homepage .three-box-container-homepage .top div p {
  width: 90%;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
}

/* BOTTOM */
#homepage .three-box-container-homepage .bottom {
  margin: 5em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#homepage .three-box-container-homepage .bottom h2 {
  font-size: 3rem;
}

#homepage .three-box-container-homepage .bottom p {
  width:80%;
  margin: 2em auto 0em auto;
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 50px;
}

/* THREE BOX CONTAINER - END */
/* THREE BOX CONTAINER - END */
/* THREE BOX CONTAINER - END */

/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */

/* JUMBOTRON STATIC IMAGE - START*/
/* JUMBOTRON STATIC IMAGE - START*/
/* JUMBOTRON STATIC IMAGE - START*/
/* JUMBOTRON STATIC IMAGE - START*/
/* JUMBOTRON STATIC IMAGE - START*/

#homepage .jumbotron-static-image {
  width: 100%;
  margin: 5rem 0rem;
}

#homepage .jumbotron-static-image section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

/* CONTAINER LEFT */
#homepage .jumbotron-static-image section .container-left {
  width: 40%;
  height: 25rem;
}

/* just in one section */
#homepage .jumbotron-static-image section .container-left img {
  width: 100%;
  height:100%;
  border-radius: 30px;
}

#homepage .jumbotron-static-image section .container-left #slider {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  position: relative;
 }
 
#homepage .jumbotron-static-image section .container-left #slider .slide {
  list-style: none;
}

#homepage .jumbotron-static-image section .container-left #slider > li {
  position:absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
}

#homepage .jumbotron-static-image section .container-left #slider .slide img {
  height: 100%;
  width:100%;
  border-radius: 10px;
}

/* CONTAINER RIGHT */
#homepage .jumbotron-static-image section .container-right {
  width: 60%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#homepage .jumbotron-static-image section .container-right .text {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#homepage .jumbotron-static-image section .container-right .text h2 {
  font-size: 2.3rem;
}

#homepage .jumbotron-static-image section .container-right .text h3 {
  font-size: 1.5rem;
}

#homepage .jumbotron-static-image section .container-right p {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  line-height: 1.4;
  font-size: 1.35rem;
  box-sizing: border-box;
}

#homepage .jumbotron-static-image section .container-right .btn-container {
  width:90%;
  height:10%;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
}


#homepage .jumbotron-static-image section .container-right .btn-container button {
  padding: 1em 6em;
  background-color: var(--pizza-yellow);
  border-radius: 10px;
  transition: 0.5s;
  border: none;
}

#homepage .jumbotron-static-image section .container-right .btn-container button:hover {
  background-color: var(--pizza-green);
  color: var(--pizza-yellow);
}

/* JUMBOTRON STATIC IMAGE - END*/
/* JUMBOTRON STATIC IMAGE - END*/
/* JUMBOTRON STATIC IMAGE - END*/
/* JUMBOTRON STATIC IMAGE - END*/
/* JUMBOTRON STATIC IMAGE - END*/

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* MEDIA QUERIES */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */

@media screen and (max-width: 1616px) {
  
  /* UNDER HEADER START*/
  /* UNDER HEADER START*/
  /* UNDER HEADER START*/
  /* UNDER HEADER START*/
  /* UNDER HEADER START*/
  
  #homepage .under-header {
    height: 70vh;
  }
  
  #homepage .under-header .under-header-content h2 {
    font-size: 3rem;
  }
  
  #homepage .under-header .under-header-content p.under-header-text {
    font-size: 2rem;
  }
  
  /* UNDER HEADER END*/
  /* UNDER HEADER END*/
  /* UNDER HEADER END*/
  /* UNDER HEADER END*/
  /* UNDER HEADER END*/
  
}

/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */

@media screen and (max-width: 1023px) {
  
  /* JUMBOTRON START */
  /* JUMBOTRON START */
  /* JUMBOTRON START */
  /* JUMBOTRON START */
  /* JUMBOTRON START */
  
  #homepage .jumbotron section.main-container .container {
    min-height: initial;
  }
  
  /* JUMBOTRON END */
  /* JUMBOTRON END */
  /* JUMBOTRON END */
  /* JUMBOTRON END */
  /* JUMBOTRON END */
  
  /* UNDER HEADER START*/
  /* UNDER HEADER START*/
  /* UNDER HEADER START*/
  /* UNDER HEADER START*/
  /* UNDER HEADER START*/
  
  #homepage .under-header {
    height: 60vh;
  }
  
  #homepage .under-header .under-header-content h2 {
    font-size: 3rem;
  }
  
  #homepage .under-header .under-header-content p.under-header-text {
    font-size: 2rem;
  }
  
  /* UNDER HEADER END*/
  /* UNDER HEADER END*/
  /* UNDER HEADER END*/
  /* UNDER HEADER END*/
  /* UNDER HEADER END*/
  
  /* JUMBOTRON SCROLLING CAROUSEL - START */
  /* JUMBOTRON SCROLLING CAROUSEL - START */
  /* JUMBOTRON SCROLLING CAROUSEL - START */
  /* JUMBOTRON SCROLLING CAROUSEL - START */
  /* JUMBOTRON SCROLLING CAROUSEL - START */

  #homepage .jumbotron-scrolling-carousel section {
    flex-direction: column;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-left,
  #homepage .jumbotron-scrolling-carousel section .container-right {
    width: 100%;
    min-height: initial;
    height:initial;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .text {
    margin: 0em auto 1em auto;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .text h2 {
    text-align: center;
    font-size: 3em;
    margin: 1em 0em 1em 0em;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .text h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
    margin: 0em 0em 1em 0em;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .btn-container {
    margin:1em 0em;
    width: 100%;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .btn-container button {
    width: 100%;
    padding: 1em 0em;
    border: none;
    margin-top: 1em;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right p {
    width: 100%;
  }
  
  /* JUMBOTRON SCROLLING CAROUSEL - END */
  /* JUMBOTRON SCROLLING CAROUSEL - END */
  /* JUMBOTRON SCROLLING CAROUSEL - END */
  /* JUMBOTRON SCROLLING CAROUSEL - END */
  /* JUMBOTRON SCROLLING CAROUSEL - END */
  
  /* JUMBOTRON STATIC IMAGE - START */
  /* JUMBOTRON STATIC IMAGE - START */
  /* JUMBOTRON STATIC IMAGE - START */
  /* JUMBOTRON STATIC IMAGE - START */
  /* JUMBOTRON STATIC IMAGE - START */
  
  #homepage .jumbotron-static-image {
    height: initial;
    min-height: initial;
    margin: 5em 0em;
  }
  
  #homepage .jumbotron-static-image section {
    flex-direction: column;
  }
  
  #homepage .jumbotron-static-image section .container-left,
  #homepage .jumbotron-static-image section .container-right,
  #homepage .jumbotron-static-image section .container-right .text,
  #homepage .jumbotron-static-image section .container-right p,
  #homepage .jumbotron-static-image section .container-right .btn-container {
    width: 100%;
    min-height: initial;
    height:initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #homepage .jumbotron-static-image section .container-right {
    margin-top: 3em;
  }
  
  #homepage .jumbotron-static-image section .container-right p {
    margin: 2em 0em 0em 0em;
  }
  
  #homepage .jumbotron-static-image section .container-right .btn-container button {
    width: 100%;
    padding: 1em 0em;
    border: none;
  }
  
  #homepage .jumbotron-static-image section .container-left img {
    width: 40rem;
    height: 20rem;
  }
  
  /* JUMBOTRON STATIC IMAGE - END */
  /* JUMBOTRON STATIC IMAGE - END */
  /* JUMBOTRON STATIC IMAGE - END */
  /* JUMBOTRON STATIC IMAGE - END */
  /* JUMBOTRON STATIC IMAGE - END */
  
  
  
}

/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */

@media screen and (max-width: 767px) {
  
  /* UNDER HEADER - START */
  /* UNDER HEADER - START */
  /* UNDER HEADER - START */
  /* UNDER HEADER - START */
  /* UNDER HEADER - START */
  
  #homepage .under-header {
    margin-top: 0;
    height:initial;
  }
  
  #homepage .under-header .under-header-overlay {
    padding:0;
  }
  
  #homepage .under-header .under-header-content {
    position: initial;
    transform: initial;
  }
  
  #homepage .under-header .under-header-content .title-and-logo {
    flex-direction: column;
  }
  
  #homepage .under-header .under-header-content h2 {
    font-size: 4em;
    text-align: center;
    margin-top: 2rem;
  }
  
  #homepage .under-header .under-header-content p.under-header-text {
    font-size: 2em;
    line-height: 1.4;
    width: 90%;
    margin: 0 auto;
  }
  
  #homepage .under-header .order-now-btn {
    margin: 2em 0em;
    padding: 0;
    width: 90%;
    height:3em;
  }
  
  #homepage .my-button-special {
    padding: 0;
    margin: 2em 0em 2em 0em;
    width: 90%;
    height: 3em;
  }
  
  /* UNDER HEADER - END */
  /* UNDER HEADER - END */
  /* UNDER HEADER - END */
  /* UNDER HEADER - END */
  /* UNDER HEADER - END */
  
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  
  /* JUMBOTRON - START */
  /* JUMBOTRON - START */
  /* JUMBOTRON - START */
  /* JUMBOTRON - START */
  /* JUMBOTRON - START */
  
  #homepage .jumbotron section.main-container {
    margin: 5em auto 2em auto;
  }
  
  #homepage .jumbotron section.main-container .container {
    height: initial;
    width:90%;
    margin:0 auto;
  }
  
  #homepage .jumbotron section.main-container .container .firstLine,
  #homepage .jumbotron section.main-container .container .secondLine,
  #homepage .jumbotron section.main-container .container .thirdLine,
  #homepage .jumbotron section.main-container .container .fourthLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  #homepage .jumbotron section.main-container .container .box {
    height:100%;
    width:100%;
    padding:0;
    margin-bottom: 30px;
  }
  
  #homepage div section.main-container {
    margin: 50px 0px 0px 0px;
  }
  
  #homepage .jumbotron section.main-container h1 {
    width: 90%;
    margin: 0em auto 1em auto;
    font-size: 4em;
    text-align: center;
  }
  
  #homepage .jumbotron section.main-container .container .jumbotron-btn-container {
    width: 100%;
  }
  
  #homepage .jumbotron .jumbotron-btn-container .my-button-first {
    padding: 0 !important;
    margin: 2em 0em 2em 0em !important;
    width: 100%;
    height: 5em;
  }
  
  #homepage .jumbotron .jumbotron-btn-container a {
    width: 100%;
  }
  
  /* JUMBOTRON - END */
  /* JUMBOTRON - END */
  /* JUMBOTRON - END */
  /* JUMBOTRON - END */
  /* JUMBOTRON - END */

  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  
  /* JUMBOTRON SCROLLING CAROUSEL - START */
  /* JUMBOTRON SCROLLING CAROUSEL - START */
  /* JUMBOTRON SCROLLING CAROUSEL - START */
  /* JUMBOTRON SCROLLING CAROUSEL - START */
  /* JUMBOTRON SCROLLING CAROUSEL - START */
  
  #homepage .jumbotron-scrolling-carousel {
    margin: 0 !important;
  }
  
  #homepage .jumbotron-scrolling-carousel section {
    flex-direction: column;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-left,
  #homepage .jumbotron-scrolling-carousel section .container-right {
    width: 100%;
    min-height: initial;
    height:initial;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .text {
    margin: 0em auto 1em auto;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .text h2 {
    text-align: center;
    font-size: 3em;
    margin: 1em 0em 1em 0em;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .text h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
    margin: 0em 0em 1em 0em;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .btn-container {
    margin:1em 0em;
    width: 100%;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right .btn-container button {
    width: 100%;
    padding: 1em 0em;
    border: none;
    margin-top: 1em;
  }
  
  #homepage .jumbotron-scrolling-carousel section .container-right p {
    width: 100%;
  }
  
  /* JUMBOTRON SCROLLING CAROUSEL - END */
  /* JUMBOTRON SCROLLING CAROUSEL - END */
  /* JUMBOTRON SCROLLING CAROUSEL - END */
  /* JUMBOTRON SCROLLING CAROUSEL - END */
  /* JUMBOTRON SCROLLING CAROUSEL - END */

  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  
  /* 3 BOX CONTAINER - START */
  /* 3 BOX CONTAINER - START */
  /* 3 BOX CONTAINER - START */
  /* 3 BOX CONTAINER - START */
  /* 3 BOX CONTAINER - START */
  
  #homepage .three-box-container-homepage {
    margin: 1rem 0em;
  }
  
  #homepage .three-box-container-homepage h1 {
    text-align: center;
  }
  
  #homepage .three-box-container-homepage .top div img {
    width: 250px;
    height: 250px;
    padding: 0;
    margin-top: 1rem;
  }
  
  #homepage .three-box-container-homepage .top div p {
    width: 90%;
  }
  
  #homepage .three-box-container-homepage .top div h3 {
    margin: 1em 0em;
  }
  
  #homepage .three-box-container-homepage .bottom h2,
  #homepage .three-box-container-homepage .bottom p {
    width: 90%;
  }
  
  #homepage .three-box-container-homepage .bottom h2 {
    font-size: 2rem;
  }
  
  #homepage .three-box-container-homepage .bottom p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 35px;
    margin: 2rem 0rem;
  }
  
  /* 3 BOX CONTAINER - END */
  /* 3 BOX CONTAINER - END */
  /* 3 BOX CONTAINER - END */
  /* 3 BOX CONTAINER - END */
  /* 3 BOX CONTAINER - END */
  
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  /* ------------------------------------- */
  
  /* JUMBOTRON STATIC IMAGE - START */
  /* JUMBOTRON STATIC IMAGE - START */
  /* JUMBOTRON STATIC IMAGE - START */
  /* JUMBOTRON STATIC IMAGE - START */
  /* JUMBOTRON STATIC IMAGE - START */
  
  #homepage .jumbotron-static-image {
    height: initial;
    min-height: initial;
    margin: 5em 0em;
  }
  
  #homepage .jumbotron-static-image section {
    flex-direction: column;
  }
  
  #homepage .jumbotron-static-image section .container-left,
  #homepage .jumbotron-static-image section .container-right,
  #homepage .jumbotron-static-image section .container-right .text,
  #homepage .jumbotron-static-image section .container-right p,
  #homepage .jumbotron-static-image section .container-right .btn-container {
    width: 100%;
    min-height: initial;
    height:initial;
  }
  
  #homepage .jumbotron-static-image section .container-right {
    margin-top: 3em;
  }
  
  #homepage .jumbotron-static-image section .container-right p {
    margin: 2em 0em 0em 0em;
  }
  
  #homepage .jumbotron-static-image section .container-right .btn-container button {
    width: 100%;
    padding: 1em 0em;
    border: none;
  }
  
  /* JUMBOTRON STATIC IMAGE - END */
  /* JUMBOTRON STATIC IMAGE - END */
  /* JUMBOTRON STATIC IMAGE - END */
  /* JUMBOTRON STATIC IMAGE - END */
  /* JUMBOTRON STATIC IMAGE - END */
  
}

/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */